# this target is wanted by hyprland-session.service (started by hyprland config file)
[Unit]
Description=Hyprland Session

Requires=basic.target
BindsTo=graphical-session.target
Before=graphical-session.target

DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes
Requires=basic.target
StopWhenUnneeded=yes
