[Unit]
Description=Nextcloud Desktop-Synchronisationsclient
Documentation=https://docs.nextcloud.com/desktop/3.10/index.html

PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
Environment=QT_QPA_PLATFORM=wayland
Environment=XDG_CURRENT_DESKTOP=Unity
#Environment=QT_SCALE_FACTOR=1.3

Type=exec
ExecStartPre=/bin/sleep 5
ExecStart=insync start --no-daemon

[Install]
WantedBy=hyprland-session.target
