[Unit]
Description=Nextcloud Desktop-Synchronisationsclient
Documentation=https://docs.nextcloud.com/desktop/3.10/index.html

PartOf=graphical-session.target

After=network-online.target graphical-session.target
Wants=network-online.target nss-lookup.target

[Service]
#Environment=QT_QPA_PLATFORM=wayland-egl
ExecStartPre=timeout 20s sh -c 'until ping -c 1 nx46198.your-storageshare.de; do sleep 1; done; sleep 10'
ExecStart=nextcloud --background
ExecStop=nextcloud --quit
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
