[Unit]
Description=Mount thomas@acer
Documentation=man:sshfs(1)

After=network-online.target
Wants=network-online.target nss-lookup.target

StartLimitBurst=3
StartLimitIntervalSec=120

[Service]
Type=oneshot

RemainAfterExit=yes
Restart=on-failure
RestartSec=2s
#ExecStartPre=sh -c 'until ping -c 1 fritz.box; do sleep 1; done'
ExecStart=sshfs thomas@acer.fritz.box:/home/thomas /media/sshfs/acer/thomas@acer -o rw,ServerAliveInterval=10,ServerAliveCountMax=1,_netdev,idmap=user,uid=1000,gid=1000
ExecStop=fusermount -u /media/sshfs/acer/thomas@acer

[Install]
WantedBy=default.target
