[Desktop Entry]
Version=1.1
Type=Application
Name=Avahi VNC-Server-Browser
NoDisplay=true
Comment=Durchsuchen nach Zeroconf-aktivierten VNC-Servern
Icon=network-wired
Exec=/usr/bin/bvnc
Actions=
Categories=GNOME;Network;kf5-internet;
