[Desktop Entry]
Type=Application
Version=1.4
Name=burgerme
Comment=A burgerme webshop.
Keywords=;
Categories=GTK;WebApps;;
Icon=FFPWA-01HZYRBT6J5SJAN10GPH8MF40H
Exec=/usr/bin/firefoxpwa site launch 01HZYRBT6J5SJAN10GPH8MF40H --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01HZYRBT6J5SJAN10GPH8MF40H
