[Desktop Entry]
Version=1.1
Type=Application
Name=FLUID
NoDisplay=true
Comment=FLTK GUI Designer
Icon=fluid
TryExec=fluid
Exec=fluid %F
Actions=
MimeType=application/x-fluid;
Categories=Development;GUIDesigner;kf5-development;
